.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid blue;
}
form {
  border: 2px solid red;
min-height: 80%;
  min-width: 60%;
}

input[type="text"],
input[type="password"] {
  border: 1px solid lightgray;
  padding: 5% 0;
}

input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 80px;
  padding: 5px 50px;
}

form > div {
  margin: 15% auto;
}
