<form
  method="get"
  action="javascript: void(0);"
  id="login-form"
  class="login-form"
  autocomplete="off"
  role="main"
>
  <div id="search-box" class="search__container">
    <p class="search__title"></p>
    <input class="search__input" type="text" placeholder="Airport Search..." />
  </div>
  <div id="options">
    <ul class="list">
      <li class="list-item">
        <input type="checkbox" class="hidden-box" id="first" checked/>
        <label for="first" class="check--label">
          <span class="check--label-box"></span>
          <span class="check--label-text">First Checkbox</span>
        </label>
      </li>
      <li class="list-item">
        <input type="checkbox" class="hidden-box" id="second" />
        <label for="second" class="check--label">
          <span class="check--label-box"></span>
          <span class="check--label-text">Second Checkbox</span>
        </label>
      </li>
      <li class="list-item">
        <input type="checkbox" class="hidden-box" id="third" />
        <label for="third" class="check--label">
          <span class="check--label-box"></span>
          <span class="check--label-text">Third Checkbox</span>
        </label>
      </li>
    </ul>
  </div>
  <div id="submit-box">
    <input type="submit" value="Next" />
  </div>
</form>
