<p>sign-up works!</p>
<form method="get" action="javascript: void(0);" id="login-form" class="login-form" autocomplete="off" role="main">
    <div>
        <label class="label-email">
          <input type="text" class="text" name="firstName" placeholder="First Name" tabindex="1" required />
          <span class="required">First Name</span>
        </label>
      </div>
      <div>
        <label class="label-email">
          <input type="text" class="text" name="LastName" placeholder="Last Name" tabindex="1" required />
          <span class="required">Last Name</span>
        </label>
      </div>
    <div>
      <label class="label-email">
        <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required />
        <span class="required">Email</span>
      </label>
    </div>
    <div>
      <label class="label-password">
        <input type="text" class="text" name="password" placeholder="Password" tabindex="2" required />
        <span class="required">Password</span>
      </label>
    </div>
    <input type="submit" value="Sign Up" />
    <div class="email">
      <a routerLink="/">Log In</a><br/> 
    </div>
    <img src="../../assets/images/united_angular_logo_2.png" alt="logo">
  
  </form>