label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    margin: 0.4rem 0;
    cursor: pointer;
}

/* div.camera {
    text-align:center;
    padding:3%;
    border:thin solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  } */

  input{
    display: none;
  }
  label{
    cursor:pointer;
  }
  
 




  .outerflex-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    
}
.flex-container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    align-items: center;
    width: 500px;
    background-color: #EAEAF3;
}

button {
    appearance:none;
    -webkit-appearance:none;
    padding:10px;
    border:none;
    background-color:#0033A0;
    color:#fff;
    font-weight:600;
    border-radius:5rem;
    width:120px;
    display:inline-block;
    margin: 30px;
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
    
  
  }
  button:hover {
    background-color: #6244BB;
  }
.flex-container h2 {
  color: #002244;
}

textarea {
    width:100%;
    resize: none;
    padding:15px;
    border-radius:15px;
    border:0;
    border-style: solid;
    border-width: .25px;
    border-color: #0033A0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.1);
    
  }
  

.textarea textarea {
    width: auto;
    height: auto;
}