<div>
  <!-- Check Permission/open Camera -->
  <button (click)="checkPermissions()">Open Camera</button>
  
</div>
<div>
  <!-- webcame image will be shown here -->
<webcam *ngIf="isShowing" [height]="400" [width]="400" [trigger]="$trigger" (imageCapture)="snapshot($event)" [imageQuality]="1"></webcam> 
<br>
<button (click)="captureImage()">{{btnLabel}}</button>
<!-- or -->
  <!-- <button *ngIf="isShowing"><webcam ></webcam></button> -->   

</div>


  <!-- Preview Section -->
  <div *ngIf="previewImage">
  <img [src]="previewImage" height="90" width="150" >
</div>


<h2>Description</h2>
        
<div class="textarea">
<textarea name="Description" id="Descriptionbox" cols="35" rows="6" placeholder="Describe the issue here"></textarea>
</div>


<div class="bottombuttons">
<button>Back</button><button>Submit</button>
</div>


   

