
<form >
  <div>
    <h1>Sign up</h1>
  </div>

  <div>
    <label for="fname">First name:</label><br />
    <input type="text" [(ngModel)]="firstName" id="fname" name="firstName" /><br />
  </div>
  <div>
    <label for="Lname">Last name:</label><br />
    <input type="text" [(ngModel)]="lastName" id="Lname" name="lastName" /><br />
  </div>
  <div>
    <label for="username">User name:</label><br />
    <input
      type="text"
      [(ngModel)]="userName"
      id="Uname"
      name="userName"
    /><br />
  </div>
  <div>
    <label for="uemail">United Email:</label><br />
    <input type="text" [(ngModel)]="email" id="u-email" name="email" /><br />
  </div>
  <div>
    <label for="password">Password:</label><br />
    <input
      type="text"
      [(ngModel)]="password"
      id="password"
      name="password"
    /><br />
  </div>
  <div id="input-container">
    <input type="submit" id="submit-btn" name="submit" value="Sign up" />
  </div>
  <div class="link">
    <a routerLink="/">Log In</a>
  </div>
</form>


